.fast-console{
  position: fixed;
  top:0;
  bottom: 0;
  left:0;
  right: 0;
}
.fast-console .co-header{
  display: block;
  width: 100%;
  height: 56px;
  background: rgb(32, 160, 255);
  box-shadow: -1px 1px 8px #989898;
  cursor: pointer;
}
.co-header div{
  display: block;
  float: left;
  width: auto;
  height: 100%;
  line-height: 56px;
  padding: 0 20px;
  color: #fff;
  box-sizing: border-box;
  font-size: 14px;
}
.co-header div.focus{
  background: rgba(255, 255, 255, 0.24);
  border-bottom: 4px solid #fff;
}
